/* CSS Document */

#site-box {
          width : 750px;
}

header{
  z-index: 10;
　height: 64px;
  position: sticky;
  background-color: #fff;
  width: 100%;
  text-align: left;
}
nav {
  overflow: hidden;
  line-height: 1;
  z-index: 2;
}
li {
  display: list-item;
  width: 10%;
  list-style-type: none;
}
a {
 /**/
  display: block;
  /*縦にどれくらい幅を取るか。無いと文字に合わせて調整される。*/
  padding: 20px 0;
  text-align: center;
  font-weight: bold;
  text-decoration: none;background-color: #fff;
  color:#000;
}
a:hover{
  background-color: #0ff;
}
